body{
  padding:0px;
  margin: 0px;
  background-image: url("../assets/pattern.jpg");
  width:100%;
  height:100vh;
}

@font-face {
  font-family: 'carino_sanssemibold';
  src: url('../font/carinosanssemibold-webfont.woff2') format('woff2'),
       url('../font/carinosanssemibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
.wrapper{
  position: absolute;
  top:70%;
  left:50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height:auto;
}
h1{
  font-family: 'carino_sanssemibold';
  text-shadow: 1px 1px 1px #2b3956,
               2px 2px 1px #2b3956;
               
  font-size: 8em;
  color: #e8464e;
  margin-top: 12%;
  margin-top: 6%;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  width:200px;
  height:70px;
  background: linear-gradient(to left top, #cfe0e2 50%, #e4eff0 50%);
  border-style: none;
  color:#e8464e;
  font-size: 23px;
  letter-spacing: 3px;
  font-family: 'carino_sanssemibold';
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all .5s;
  box-shadow: 0px 1px 2px #2b3956;
 
}
button span{
  position: absolute;
  display: block;
}
button span:nth-child(1){
  height: 3px;
  width:200px;
  top:0px;
  left:-200px;
  background: linear-gradient(to right, #2b3956, 
  #2b3956);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1{
  0%{
      left:-200px
  }
  100%{
      left:200px;
  }
}
button span:nth-child(2){
  height: 70px;
  width: 3px;
  top:-70px;
  right:0px;
  background: linear-gradient(to bottom, #2b3956, 
  #2b3956);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
@keyframes span2{
  0%{
      top:-70px;
  }
  100%{
      top:70px;
  }
}
button span:nth-child(3){
  height:3px;
  width:200px;
  right:-200px;
  bottom: 0px;
  background: linear-gradient(to left, #2b3956, 
  #2b3956);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
@keyframes span3{
  0%{
      right:-200px;
  }
  100%{
      right: 200px;
  }
}

button span:nth-child(4){
  height:70px;
  width:3px;
  bottom:-70px;
  left:0px;
  background: linear-gradient(to top, #2b3956, 
  #2b3956);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}
@keyframes span4{
  0%{
      bottom: -70px;
  }
  100%{
      bottom:70px;
  }
}

button:hover{
  transition: all .5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px #2b3956;
}
button:hover span{
  animation-play-state: paused;
}




.bg-popContainer {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
  z-index: 100;
  
}
.pop-box,
.pop-box2 {
  width: 500px;
  max-width: 80%;
  background-color: #cfe0e2;
  
  text-align: center;
  padding: 20px;
  position: relative;
  padding-top: 30px;
  cursor: default;
}
.pop-box {
  height: 500px;
}
#closer {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 18px;
  width: 20%;
 height: 30%;
}
.rules{
  font-family: 'carino_sanssemibold';
  color: #2b3956;
}
.name{
  font-family: 'carino_sanssemibold';
  color: #2b3956;
}

